div#news {
    display: flex;
    color: #502E2E;
    margin-top: 2.5%;
    justify-content: center;
}



div#news div {
    margin: 50px;
    text-shadow: grey 2px 5px 8px;
}

div#t-shirtTitle, div#sweatshirtsTitle {
   padding-top: 60px;
}

div#t-shirtTitle a , div#sweatshirtsTitle a {
    color: #502E2E;
    font-weight: 500;
    text-decoration: none;
}

div#t-shirtTitle a:hover , div#sweatshirtsTitle a:hover {
    color: #7a4a4a;

}

div#t-shirtTitle:hover, div#sweatshirtsTitle:hover {
    transform: scale(0.9, 0.9);
    color: #7a4a4a;
}

main div#t-shirts_block {
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
    background-color: white;
    padding-bottom: 130px;
}

div.item_block {
    margin: 80px 80px 0 80px;
    max-width: 400px;
}

div.signature {
    display: flex;
    text-align: center;
    align-items: center;
    font-size: 20px;
    letter-spacing: 0.1em;
    color: #502E2E;
    background-color: #F9EEEE;
}

div.sign_text {
    width: 85%;
    padding-left: 50px;
}

div.sign_img {
    width: 15%;
}

div.sign_img:hover {
    transform: scale(0.85, 0.85);
}

img.items {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
}