.show{
    display:flex!important;
}
.hide{
    display:none!important;
}
.pfade{
    animation-name: pfade;
    animation-duration: 1.5s;
}
@keyframes pfade{
    from{opacity: 0.1;}
    to{opacity: 1;}
}